<footer class="page-footer font-small pt-4 bc">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="row ml-5 justify-content-start d-flex">
                    <a href="">blog pessoal</a>
                </div>
                <div class="row mt-3 ml-4 justify-content-start d-flex">
                    <p>a friendly place to share</p>
                </div>
            </div>
            <div class="col-md-6 justify-content-end d-flex">
                <ul>
                    <li>
                        <a routerLink="/contato">Contact</a>
                    </li>
                    <li>
                        <a routerLink="/sobre-rodape">About</a>
                    </li>
                    <li>
                        <a routerLink="/ajuda">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-2 px-2 bc">
        <div class="container-fluid">
            <div class="row d-flex justify-content-start align-items-center">
                <span class="text-light">@ 2021 Copyright: </span>
                <a href="https://github.com/biasofientini" class="text-light ml-2" target="_blank">Beatriz Sofientini</a>
            </div>
        </div>
    </div>
</footer>