.fs-titulo{
    font-size: 50px;
    font-family: Raleway;
    color: #E75454;
    letter-spacing: 0.12em;
}

.fs-16{
    font-size: 20px;
    font-family: Raleway;
    color: #A8A0A0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #E75454;
}