<div class="ml-4 p-2 mt-2">
    <a class="m-0 font-weight-bold text-danger fs-16" href="/home">Blog Pessoal</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <img src="https://i.imgur.com/ymBsDzj.gif" style="width: 530px; height: 530px;">
        </div>
        <div class="col-md-5 mt-5 mb-5" style="background: #EEACAC;">
            <h1 class="fs-24 font-weight-bold text-center my-4">O que é o Blog Pessoal?</h1>
            <h4 class="fs-16 font-weight-bold text-justify my-3">
                O Blog Pessoal foi pensado e criado com o intuíto de ser um espaço especial e pessoal, onde todos os
                usuários podem se expressar de forma livre, desde que seguindo regras e critérios fortemente reforçados
                nos termos de compromisso. Assim, criando um ambiente seguro e saudável para reprodução de pensamentos
                de quaisquer temas que sejam desejados.
            </h4>
            <h4 class="fs-16 font-weight-bold text-justify my-3">Aqui, reforçamos a empatia e compreensão, bem como o
                incentivo a compartilhar e conversar sobre aquilo que pode te afligir.</h4>
            <h4 class="fs-16 font-weight-bold text-justify my-3">Se precisa escrever algo ou compartilhar, sinta-se livre
                para fazê-lo aqui! Ficamos muito felizes com a sua contribuição! Caso ainda não tenha uma conta, mas
                tenha se interessado, <a class="a-texto" href="/cadastrar">clique aqui!</a></h4>
        </div>
    </div>
</div>
<app-rodape></app-rodape>