<app-menu></app-menu>

<div class="container-fluid mt-5 mb-5">

    <h1 class="fs-titulo text-center">ABOUT - BLOG PESSOAL DEVELOPMENT</h1>
    <h4 class="fs-16 text-center">Here you can acknowledge the development of Blog Pessoal!</h4>
    <div class="col-md-12 mt-5">
        <div class="row d-flex align-items-center">
            <div class="col-md-4">
                <img src="https://i.imgur.com/ny1lcis.png" alt="img" style="width: 400px; height: 400px;">
            </div>
            <div class="col-md-8">
                <h3 class="fs-24 text-justify">Blog Pessoal was developed with Java and Spring Boot and idealized as an application where it would be possible to write posts and see other's posts as a goal to share thoughts and worries, like a safe place where you can feel confortable and know that you are not alone. Although, to avoid the oposite result, people can not interact directly with posts. The final project was released after Front-end was fully complete using Angular Framework giving Blog Pessoal this friendly interface that you are able to navigate to! Hope you have enjoyed using it, do not forget to read more about the developer and the application at the footer below and menu above!</h3>
            </div>
        </div>
    </div>

</div>

<app-rodape></app-rodape>