.fs-titulo{
    font-size: 50px;
    font-family: Raleway;
    color: #E75454;
    letter-spacing: 0.12em;
}

.fs-16{
    font-size: 20px;
    font-family: Raleway;
    color: #A8A0A0;
}

.fs-24{
    font-size: 24px;
    font-family: Raleway;
    color: #A8A0A0;
}
