<div class="container-fluid">
    <div class="col-md-12 d-flex justify-content-end">
        <h3 (click)='cancel()' class="mt-2 mr-0 p-4"
            style="font-size: 18px; color: #E75454; cursor: pointer; letter-spacing: 0.12em; font-weight: normal;">
            CANCEL</h3>
    </div>
    <div class="col-md-12 align-items-center mt-5 mb-5">
        <h1 class="fs-titulo text-center p-2">NEW POST</h1>
    </div>
    <div class="col-md-12">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4 mx-4 mr-4">
                <div class="form-group">
                    <label for="usuario" class="fs-label">Tittle</label>
                    <input [(ngModel)]='postagem.titulo' class="form-control" type="text" name="usuario" id="usuario"
                        placeholder="Your post tittle">
                </div>
            </div>
            <div class="col-md-4 mx-4 ml-4">
                <!-- <div class="form-group">
                    <label for="usuario" class="fs-label">Subject</label>
                    <select name="usuario" class="form-control" id="usuario" [(ngModel)]='idTema'
                        (change)='findByIdTema()'>
                        <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
                    </select>
                </div> -->
                <div class="form-group">
                    <label for="texto" class="fs-label">Subject</label>
                    <h5 class="fs-14">*If you want to create a new one, <a href="/tema">click here</a>*</h5>
                    <select name="tema" class="form-control" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
                        <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <div class="row d-flex justify-content-center">
            <div class="form-group">
                <label for="usuario" class="fs-label ml-5">Type here...</label>
                <textarea [(ngModel)]='postagem.texto' name="texto" class="form-control" id="texto" cols="150"
                    rows="10"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center mb-5 p-2 mt-3">
        <button class="buttonpadrao" (click)='publicar()'>CREATE</button>
    </div>
</div>