<div class="container-fluid">
    <div class="col-md-12 d-flex justify-content-end">
        <h3 (click)='cancel()' class="mt-2 mr-0 p-4"
            style="font-size: 18px; color: #E75454; cursor: pointer; letter-spacing: 0.12em; font-weight: normal;">
            CANCEL</h3>
    </div>
    <div class="col-md-12 align-items-center mt-5 mb-5">
        <h1 class="fs-titulo text-center p-2">NEW POST</h1>
    </div>
    <div class="col-md-12">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4 mx-4 mr-4">
                <div class="form-group">
                    <label for="usuario">Tittle</label>
                    <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Your post tittle">
                </div>
            </div>
            <div class="col-md-4 mx-4 ml-4">
                <div class="form-group">
                    <label for="usuario">Subject</label>
                    <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Your post subject">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="form-group">
                    <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Type here..."
                        style="height: 300px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center mb-5 p-2 mt-3">
        <button class="buttonpadrao">CREATE</button>
    </div>
</div>