.fs-16{
    font-size: 16px;
    font-family: Raleway;
    color: #A8A0A0;
}

.fs-16btn{
    font-size: 16px;
    font-family: Raleway;
    color: #fff;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    color: #E75454;
    font-size: 17px;
}

.buttonpadrao{
    width: 90px;
    height: 30px;
    background: #E75454;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: 0px;
}

.buttonpadrao:hover{
    color: black;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}