<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler font navbar-light" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-danger fs-16">Blog Pessoal</p>
            </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mt-2 mr-4 align-items-center">
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold fs-16" (click)='about()'>ABOUT</a>
            </li>

            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold fs-16" (click)='more()'>MORE</a>
            </li>

            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold fs-16" (click)='login()'>LOGIN</a>
            </li>

            <li class="nav-item pl-3">
                <button class="btn buttonpadrao m-0 font-weight-bold fs-16btn" (click)='signup()'>SIGN UP<a class="m-0 font-weight-bold fs-16" ></a></button>
            </li>
        </ul>
    </div>
</nav>
