<div class="container-fluid">

    <div class="row">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">

                <div class="col-md-10 mx-auto">

                    <h1 class="text-center entrar-cadastrar">CREATE ACCOUNT</h1>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <label for="user">User</label>
                        <input class="form-control" type="text" name="user" id="user" placeholder="User">
                    </div>

                    <div class="form-group">
                        <label for="piclink">Picture link</label>
                        <input class="form-control" type="text" name="piclink" id="piclink" placeholder="Picture link">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <label for="confirmpassword">Confirm password</label>
                        <input class="form-control" type="password" name="confirmpassword" id="confirmsenha"
                            placeholder="Confirm password">
                    </div>

                    <div class="form-group">
                        <label for="tipouser">User type</label>
                        <select name="tipouser" id="tipouser">
                            <option>Please select the user type: </option>
                            <option value="normal">Normal</option>
                            <option value="adm">Admin</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-4">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </div>

                    <div class="gifentrar-cadastrar" id="img-gif"></div>

                </div>

            </div>

        </div>

    </div>

</div>