<app-menu></app-menu>
<div class="container-fluid mt-5 mb-5">
    <h1 class="fs-titulo text-center mb-4">MORE</h1>
    <div class="col-md-12">
        <div class="row d-flex align-items-center">
            <div class="col-md-4">
                <img src="https://i.imgur.com/ChpQiWx.png" alt="moreimg" style="width: 400px; height: 400px;">
            </div>
            <div class="col-md-8">
                <h3 class="fs-16 text-justify">Blog Pessoal was idealized as a safe place, where users can share
                    whatever they are thinking of!! This is a project developed and created with very attention to all
                    possible details and the main purpose is to bring a good experience to all users! Visit all the
                    pages that are avaible and try out all the features, enjoy all that Blog Pessoal is here to provide
                    to you! Be free, be yourself and respect others!</h3>
            </div>
        </div>
    </div>
    <h3 routerLink='/home' class="mt-2 mr-0 p-4 justify-content-end d-flex"
        style="font-size: 18px; color: #E75454; cursor: pointer; letter-spacing: 0.12em; font-weight: normal;">
        BACK</h3>
</div>
<app-rodape></app-rodape>