#img-bg{
    background-image: url('https://i.imgur.com/GrW6Fmt.png');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttoncarousel{
    width: 60px;
    height: 40px;
    top: 310px;
    background: #E75454;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: 0px;
}

.buttonpadrao{
    width: 130px;
    height: 40px;
    top: 300px;
    background: #E75454;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: 0px;
    font-family: Raleway;
    font-size: 16px;
    color: #FFFFFF;
}

.buttonpadrao:hover{
    color: black;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.entrar-cadastrar{
    color: #E75454;

    font-family: 'Poiret One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 30px;
    letter-spacing: 0.1em;
}

input{
    width: 400px;
    height: 40px;
    left: 900px;

    background: #FFFFFF;
    border: 1px solid #E75454;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Poiret One', sans-serif;
    font-size: 16px;
    letter-spacing: 0.12em;
}

a{
    text-decoration: none;
    color: #E75454;
    font-size: 16px;
    font-family: Raleway;
}

label{
    font-family: 'Poiret One', sans-serif;
    font-size: 20px;
    letter-spacing: 0.12em;
}

p{
    font-family: 'Poiret One', sans-serif;
    font-size: 20px;
    letter-spacing: 0.12em;
}

.gifentrar-cadastrar{
    position: absolute;
    width: 180px;
    display: flex-end;
    justify-content: flex-end;
    left: 350px;
    bottom: 0;
}

#img-gif{
    background-image: url('https://i.imgur.com/jLIzez5.gif');
    min-height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}